body{
    background-color: green;
    font-family: sans-serif;
}

select {
    width: 70%;
    padding: 16px 20px;
    -moz-appearance: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: white;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    ;
}

.border{
    background-color: #fff;
    width: 500px;
    border: none;
    border-radius: 5px;
    padding: 11px;
}

.form{
 padding: 15px 390px;
}

.submit{
  background-color: green; 
  border: none;
  color: black;
  padding: 2px 110px;
  text-align: center;
  font-size: 22px;
  margin: 5px 2px;
  cursor: pointer;
}

.select #position{
 width: 499px;
}
